<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  /* :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } */

 
  /* svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  } */

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }

  .radio {
    display: inline-block;
    margin-right: 10px;
  }
</style>

<div id="divMainContainer">
  <span>{{capturedAreaCoordiantesText}}</span>
  
  <br/>
  <div>
    <div class="radio">
      <label>
        <input type="radio" name="workingMode" [value]="workingModeEnum.None" (change)="setWorkingMode(workingModeEnum.None)">
        None
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="workingMode" [value]="workingModeEnum.Brush" (change)="setWorkingMode(workingModeEnum.Brush)">
        Brush
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="workingMode" [value]="workingModeEnum.Polygon" (change)="setWorkingMode(workingModeEnum.Polygon)">
        Polygon
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="workingMode" [value]="workingModeEnum.Sam" (change)="setWorkingMode(workingModeEnum.Sam)">
        ⚡Zero-Shot(SAM)⚡
      </label>
    </div>
    <div style="margin-left: 4M; display: inline-block">
      <button *ngIf="($workingMode | async) === workingModeEnum.Polygon" (click)="completePolygon()">END</button>
    </div>
  </div>
  <br/>
  <canvas id="drawingCancvas"></canvas>
</div>

